.filters {
  position: absolute;
  bottom: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.income {
  width: 500px;
  display: flex;
  align-items: center;
  padding: 25px;
  border-radius: 20px;
  background-color: #e8e5e5;
  color: #000000;
}

.incomeFilter {
  width: 400px;
  margin: 0 20px;
}