body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: #919191; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.key {
  display: flex;
  justify-content: center;
  
}
.key span {
  margin: 2px 5px 15px 20px; 
}
.keyColor {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  position: relative;
  display: inline-block;
}
.light {
  background-color: rgb(198,128,73);  
}
.dark {
  background-color: rgb(60,95,55);  
}
.mapContainer {
  position: relative;
  width: 1300px; 
  height: calc(100vh - 185px);
  overflow: hidden;
  margin: 0 auto 100px;
  border: 2px solid rgb(60,95,55);
}
